.DS_Store
package.zip
boto3
boto3-1.4.4-py2.7.egg-info
botocore
botocore-1.5.77-py2.7.egg-info
certifi
certifi-2017.4.17-py2.7.egg-info
chardet
chardet-3.0.4-py2.7.egg-info
concurrent
dateutil
docutils
docutils-0.13.1-py2.7.egg-info
futures-3.1.1-py2.7.egg-info
idna
idna-2.5-py2.7.egg-info
jmespath
jmespath-0.9.3-py2.7.egg-info
pyslack-0.3.0-py2.7.egg-info
python_dateutil-2.6.0-py2.7.egg-info
requests
requests-2.18.1-py2.7.egg-info
s3transfer
s3transfer-0.1.10-py2.7.egg-info
six-1.10.0-py2.7.egg-info
six.py
six.pyc
slack
urllib3
urllib3-1.21.1-py2.7.egg-info
